/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

$font-family: "Atkinson Hyperlegible", sans-serif;
$link-color: #123233;
$hover-color: lighten($link-color, 40%);

/*-- scss:rules --*/

a{
  color: $link-color;

  &:hover{
    color: $hover-color;
  }
  
}
